<div class="row justify-content-between">
    <div class="col-12">
        <p class="text-uppercase fs-5">Philomath &amp; Polymorph</p>
    </div>
<div class="col-md-6">
    <p class="text-justify">Hi, my name is Ronny Brouwers. I love to learn new things and I love to wear different hats. </p>
    <p class="text-justify">At the moment I devour everything about Full Stack Web Development. Its a huge chunk to swallow up, but I enjoy every bite.</p>
    <p class="text-justify">With more than 10 years of experience in IT, we might have already met while I was a travelling Software- or Test Automation Consultant or while I was a Business Analyst, Agile Coach or Product Owner.  </p>
    <p>Let's connect:</p>
    <ul class="list-dashed">
        <li><a href="https://www.linkedin.com/in/brouwersronny/" target="_blank">Linkedin</a></li>
        <li><a href="https://github.com/rbr0uwers" target="_blank">Github</a></li>
    </ul>
</div>
<div class="col-md-4">
    <img class="img-fluid img-oversize" src="/assets/img/Ronny_Posterized_BW.png" alt="">
</div>


</div>