<div class="table-responsive">
    <table class="table text-light table-mobile">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Technologies</th>
                <th scope="col">Src</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Terminal</td>
                <td>Personal landing page inspired by Mac OS terminal app.</td>
                <td>Angular, Bootstrap, CSS, HTML</td>
                <td><a href="https://github.com/rbr0uwers/Terminal" target="_blank">Github</a></td>
            </tr>
            <tr>
                <td><a href="/travelrebel/" target="_blank">Travel Rebel</a></td>
                <td>Travel agency web application using Angular. Application contains a shopping cart and rudimentary checkout functionality.</td>
                <td>Angular, Bootstrap, CSS, HTML</td>
                <td><a href="https://github.com/rbr0uwers/Travelrebel" target="_blank">Github</a></td>
            </tr>
            <tr>
                <td><a href="/globetrotter/" target="_blank">Globetrotter</a></td>
                <td>Typescript based system to present Places, Events and Restaurants.</td>
                <td>Bootstrap, CSS, HTML, Typescript</td>
                <td><a href="https://github.com/rbr0uwers/Globetrotter" target="_blank">Github</a></td>
            </tr>
        </tbody>
    </table>
</div>