<div class="table-responsive">
    <table class="table text-light table-mobile">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Technologies</th>
                <th scope="col">Src</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Terminal</td>
                <td>Personal landing page inspired by Mac OS terminal app using Angular routing, animations and lifecycle events.</td>
                <td>Angular, HTML, Bootstrap, CSS</td>
                <td><a href="https://github.com/rbr0uwers/Terminal" target="_blank" rel="noopener">Github</a></td>
            </tr>
            <tr>
                <td><a href="/travelrebel/" target="_blank" rel="noopener">Travel Rebel</a></td>
                <td>Travel agency web application using Angular. Application contains a shopping cart and rudimentary checkout functionality.</td>
                <td>Angular, HTML, Bootstrap, CSS</td>
                <td><a href="https://github.com/rbr0uwers/Travelrebel" target="_blank" rel="noopener">Github</a></td>
            </tr>
            <tr>
                <td><a href="/globetrotter/" target="_blank" rel="noopener">Globetrotter</a></td>
                <td>Typescript based system to present places, events and restaurants (super- and subclasses). The content is loaded dynamically from an array.</td>
                <td>Bootstrap, CSS, HTML, Typescript</td>
                <td><a href="https://github.com/rbr0uwers/Globetrotter" target="_blank" rel="noopener">Github</a></td>
            </tr>
            <tr>
                <td><a href="/petship/" target="_blank" rel="noopener">Petship</a></td>
                <td>Session based CRUD application with PHP and MariaDB. Two roles are available: 1) A user can see all pets and "adopt a pet". 2) An admin can in addition add, modify and delete pets.</td>
                <td>PHP, MariaDB, Bootstrap, HTML</td>
                <td><a href="https://github.com/rbr0uwers/Petship" target="_blank" rel="noopener">Github</a></td>
            </tr>
        </tbody>
    </table>
</div>