<div class="row justify-content-between">
    <div class="col-md-6">
        <div class="row">
            <div class="col-12"><p class="text-uppercase fs-5">Tech/ Framework skills</p></div>
            <div class="col-xl-2 col-4"><p class="mb-0">HTML</p></div>
            <div class="col-xl-10 col-8"><div data-pb-value="0.8" #progressBar></div></div>
            <div class="col-xl-2 col-4"><p class="mb-0">CSS/ SCSS</p></div>
            <div class="col-xl-10 col-8"><div data-pb-value="0.6" #progressBar></div></div>
            <div class="col-xl-2 col-4"><p class="mb-0">Bootstrap</p></div>
            <div class="col-xl-10 col-8"><div data-pb-value="0.6" #progressBar></div></div>
            <div class="col-xl-2 col-4"><p class="mb-0">Javascript/ Typescript</p></div>
            <div class="col-xl-10 col-8"><div data-pb-value="0.6" #progressBar></div></div>
            <div class="col-xl-2 col-4"><p class="mb-0">Angular</p></div>
            <div class="col-xl-10 col-8"><div data-pb-value="0.4" #progressBar></div></div>
            <div class="col-xl-2 col-4"><p class="mb-0">PHP</p></div>
            <div class="col-xl-10 col-8"><div data-pb-value="0.2" #progressBar></div></div>
            <div class="col-xl-2 col-4"><p class="mb-0">SQL</p></div>
            <div class="col-xl-10 col-8"><div data-pb-value="0.2" #progressBar></div></div>
        
            <div class="col-12"><p class="text-uppercase fs-5 mt-3">Knowledge</p></div>
            <div class="col-xl-2 col-4"><p class="mb-0">Scrum</p></div>
            <div class="col-xl-10 col-8"><div data-pb-value="1" #progressBar></div></div>
            <div class="col-xl-2 col-4"><p class="mb-0">Software Testing</p></div>
            <div class="col-xl-10 col-8"><div data-pb-value="0.6" #progressBar></div></div>
            <div class="col-xl-2 col-4"><p class="mb-0">OOP</p></div>
            <div class="col-xl-10 col-8"><div data-pb-value="0.6" #progressBar></div></div>
            <div class="col-xl-2 col-4"><p class="mb-0">Functional Programming</p></div>
            <div class="col-xl-10 col-8"><div data-pb-value="0.2" #progressBar></div></div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="row">
            <div class="col-12"><p class="text-uppercase fs-5 mt-3">Education</p></div>
            <div class="col-12"><p class="mb-0">Full Stack Web Developer (2021)</p></div>
            <div class="col-12"><p class="mb-0">Innovation and Technology Management, MSc. (2019)</p></div>
            <div class="col-12"><p class="mb-0">Computer Science, BSc. (2013)</p></div>
        </div>
    </div>

    
</div>