.term {
    border-style: solid;
    border-width: 28px 15px 0px 100px;
    -moz-border-image: url(../../assets/img/terminal_border.png) 28 15 0 100 repeat repeat;
    -webkit-border-image: url(../../assets/img/terminal_border.png) 28 15 0 100 repeat repeat;
    -o-border-image: url(../../assets/img/terminal_border.png) 28 15 0 100 repeat repeat;
    border-image: url(../../assets/img/terminal_border.png) 28 15 0 100 repeat repeat;
    border-radius: 1%;

    height: 80vh;
    margin-top: 10vh;

    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow: 0 1rem 4rem 0.5rem rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 1rem 4rem 0.5rem rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 1rem 4rem 0.5rem rgba(0, 0, 0, 0.75);
}

.content{
    /* Neutralize the left border width */
    margin-left: -100px;
}